

.plaza{
	position:absolute;
	background-image:linear-gradient(red,yellow);
	bottom:calc(50% - 500px);
	left:10;
	height:1000px;
	width: 1000px;
}

.pj{
	position:absolute;
	background-color:blue;
	height:50px;
	width:50px;
	bottom:50%;
	left:50%;
}

.pj2{
	position:absolute;
	background-color:green;
	height:50px;
	width:50px;
	bottom:50%;
	left:50%;
}

.chatContainer{
	position:absolute;
	height:calc(100% - 60px);
	width:500px;
	right:100px;
	top:20px;
	border: 10px solid #FFF
}

