

.plaza{
	/*position:absolute;*/
	background-image:linear-gradient(red,yellow);
	bottom:calc(50% - 500px);
	left:10px;
	height:calc(100% - 20px);
	top:10px;
}

.tile{
	position:absolute;
	/*background-color:white;*/
	/*border:2px solid #000;*/
	height:46px;
	width:46px;
}

.pj{
	position:absolute;
	background-color:blue;
	height:46px;
	width:46px;
	bottom:50%;
	left:50%;
	z-index:1;
}

.pj2{
	position:absolute;
	background-color:green;
	height:50px;
	width:50px;
	bottom:50%;
	left:50%;
}

.chatContainer{
	padding: 25px;
	border: 5px solid white;
	margin: 25px;
}
.chatBody {
	display: grid;
    grid-template-columns: 950px 500px;
}
.chatActionBox {
	position: fixed;
    bottom: 55px;
    display: flex;
    width: 390px;
}
input.message {
	width: -webkit-fill-available;
}
button.send {
	width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-left: 10px;
}

